body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #cfdef3, #e0eafc, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.weather-dashboard {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    padding: 30px;
}

.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.search button {
    padding: 10px 20px;
    border: 1px solid #98caff;
    border-radius: 0 4px 4px 0;
    background-color: #98caff;
    color: black;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search button:hover {
    background-color: #3f93ec;
    border-color: #3f93ec;
    color: white;
}

.current-weather, .forecast {
    margin-top: 20px;
}

.current-weather p, .forecast p {
    margin: 10px 0;
    text-transform: capitalize;
    padding: 2px;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
